# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# FAL AI
FAL_KEY="9ba4465a-5ef1-447f-89cf-ce7842de7b37:7b0894a07c2b0b1f3f9f0cd304580843"

# SUPABASE 
NEXT_PUBLIC_SUPABASE_URL="https://fbyaqybbkfywfhgpjqwb.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZieWFxeWJia2Z5d2ZoZ3BqcXdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4OTY5MTcsImV4cCI6MjA4MzQ3MjkxN30.uAA8ndWWYUxoMqpkNJ14G8ycFD-yjhA6J3k7V_qvmhU"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZieWFxeWJia2Z5d2ZoZ3BqcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Nzg5NjkxNywiZXhwIjoyMDgzNDcyOTE3fQ.nofj5VZbQirhEKB7t_SyyLAmIT2FdSCmfoxkd78N8ks"
